<div>
  <h1>Abonados</h1>
  <button id="getMac">Obtener MAC</button>
  <form id="formMac">
    <label for="mac">MAC</label>
    <input type="text" id="mac" name="mac" />
    <button id="validate">Validar abonado</button>
  </form>
  <div id="response"></div>
</div>
<script src="/js/validateMac.js"></script>